:root {
  --interface-width: 70%;
}

/* Main container */
#container {
  width: var(--interface-width);
  margin: 0px auto
}

/* Video Block */
.video-container {
  padding-top: 75%;
  height: 0px;
  position: relative;
  z-index: 1;
}

video {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  /* margin: 0px 0px 0px 0px; */
  background-color: #ddd;
  border-radius: 7px;
}

#overlay-container {
  position: absolute;
  display: block;
  width: calc(100% - 30px);
  height: 100%;
  z-index: 2;
}

#video-overlay {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: auto;
}

#progress-bar {
  background-color: grey;
  width: 0%;
}